<!DOCTYPE html>
<html>

{% include head.html %}

<body id="nofront" class="index">

{% include nav_nofront.html %}

<section class="bg-white post">

    <div class="entry">

        <h2>{{ page.title }}</h2>
        <h3>{{ page.subtitle }}</h3>

        <p>Written by {{ page.author}} on {{ page.date | date: "%B %-d, %Y" }}</p>

        <hr>

        {{ content }}

        <hr>

        <ul class="share-buttons">
          <li>Like it? Share it on: </li>
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.theswarmlab.com&t=The%20SwarmLab%20%40%20NJIT" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img src="/img/share_buttons/Facebook.png"></a></li>
          <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.theswarmlab.com&text=The%20SwarmLab%20%40%20NJIT:%20http%3A%2F%2Fwww.theswarmlab.com&via=sjmgarnier" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img src="/img/share_buttons/Twitter.png"></a></li>
          <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.theswarmlab.com" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img src="/img/share_buttons/Google+.png"></a></li>
          <li><a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fwww.theswarmlab.com&t=The%20SwarmLab%20%40%20NJIT&s=" target="_blank" title="Post to Tumblr" onclick="window.open('http://www.tumblr.com/share?v=3&u=' + encodeURIComponent(document.URL) + '&t=' +  encodeURIComponent(document.title)); return false;"><img src="/img/share_buttons/Tumblr.png"></a></li>
          <li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.theswarmlab.com&description=We%20are%20an%20interdisciplinary%20research%20lab%20that%20studies%20the%20mechanisms%20underlying%20the%20coordination%20of%20large%20animal%20groups%2C%20such%20as%20ant%20colonies%20or%20human%20crowds%2C%20and%20their%20applications%20to%20complex%20problems%20such%20the%20organization%20of%20pedestrian%20traffic%20or%20the%20control%20of%20robotic%20swarms." target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;"><img src="/img/share_buttons/Pinterest.png"></a></li>
          <li><a href="https://getpocket.com/save?url=http%3A%2F%2Fwww.theswarmlab.com&title=The%20SwarmLab%20%40%20NJIT" target="_blank" title="Add to Pocket" onclick="window.open('https://getpocket.com/save?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="/img/share_buttons/Pocket.png"></a></li>
          <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fwww.theswarmlab.com&title=The%20SwarmLab%20%40%20NJIT" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="/img/share_buttons/Reddit.png"></a></li>
          <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.theswarmlab.com&title=The%20SwarmLab%20%40%20NJIT&summary=We%20are%20an%20interdisciplinary%20research%20lab%20that%20studies%20the%20mechanisms%20underlying%20the%20coordination%20of%20large%20animal%20groups%2C%20such%20as%20ant%20colonies%20or%20human%20crowds%2C%20and%20their%20applications%20to%20complex%20problems%20such%20the%20organization%20of%20pedestrian%20traffic%20or%20the%20control%20of%20robotic%20swarms.&source=http%3A%2F%2Fwww.theswarmlab.com" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="/img/share_buttons/LinkedIn.png"></a></li>
          <li><a href="http://wordpress.com/press-this.php?u=http%3A%2F%2Fwww.theswarmlab.com&t=The%20SwarmLab%20%40%20NJIT&s=We%20are%20an%20interdisciplinary%20research%20lab%20that%20studies%20the%20mechanisms%20underlying%20the%20coordination%20of%20large%20animal%20groups%2C%20such%20as%20ant%20colonies%20or%20human%20crowds%2C%20and%20their%20applications%20to%20complex%20problems%20such%20the%20organization%20of%20pedestrian%20traffic%20or%20the%20control%20of%20robotic%20swarms." target="_blank" title="Publish on WordPress" onclick="window.open('http://wordpress.com/press-this.php?u=' + encodeURIComponent(document.URL) + '&t=' +  encodeURIComponent(document.title)); return false;"><img src="/img/share_buttons/Wordpress.png"></a></li>
          <li><a href="https://pinboard.in/popup_login/?url=http%3A%2F%2Fwww.theswarmlab.com&title=The%20SwarmLab%20%40%20NJIT&description=We%20are%20an%20interdisciplinary%20research%20lab%20that%20studies%20the%20mechanisms%20underlying%20the%20coordination%20of%20large%20animal%20groups%2C%20such%20as%20ant%20colonies%20or%20human%20crowds%2C%20and%20their%20applications%20to%20complex%20problems%20such%20the%20organization%20of%20pedestrian%20traffic%20or%20the%20control%20of%20robotic%20swarms." target="_blank" title="Save to Pinboard" onclick="window.open('https://pinboard.in/popup_login/?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="/img/share_buttons/Pinboard.png"></a></li>
          <li><a href="mailto:?subject=The%20SwarmLab%20%40%20NJIT&body=We%20are%20an%20interdisciplinary%20research%20lab%20that%20studies%20the%20mechanisms%20underlying%20the%20coordination%20of%20large%20animal%20groups%2C%20such%20as%20ant%20colonies%20or%20human%20crowds%2C%20and%20their%20applications%20to%20complex%20problems%20such%20the%20organization%20of%20pedestrian%20traffic%20or%20the%20control%20of%20robotic%20swarms.:%20http%3A%2F%2Fwww.theswarmlab.com" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img src="/img/share_buttons/Email.png"></a></li>
        </ul>

        <hr>

        <p>Categories:
            {% for category in page.categories %}
                {% if category == "blog"%}
                    <a href="/blog/">blog</a> &bull;
                {% else %}
                    <a href="/category/{{category}}/">{{ category }}</a> &bull;
                {% endif %}
            {% endfor %}
        </p>

        <hr>

        {% include comments.html %}

    </div>

</section>

{% include rss_footer.html %}
{% include footer.html %}
{% include js.html %}

</body>
</html>
